@import '@/styles/tokens';
@import '@/styles/mixins';

.navbar {
  width: 100%;
  background-color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 20px 0;
}

.navbarContainer {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: opacity 0.3s ease;

  img {
    max-width: 100px;
    width: auto;
    height: auto;
  }
}

.cartLink {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: opacity 0.3s ease;

  img {
    max-width: 24px;
    width: auto;
    height: auto;
  }
}

.cartCount {
  color: #000000;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
  padding-top: 5px;
  padding-left: 5px;
}
