@import '@/styles/tokens';
@import '@/styles/mixins';

.cartFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 16px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  gap: 2rem;

  @include respond-to('small-tablet') {
    max-width: 98%;
    padding: $spacing-xl $spacing-md;
    flex-direction: column;
    gap: 1.5rem;
  }

  @include respond-to('tablet') {
    max-width: 98%;
    padding: $spacing-xl $spacing-md;
  }

  @include respond-to('wide') {
    max-width: 90%;
    padding: $spacing-2xl $spacing-lg;
  }
}

.continueBtn {
  border: 1px solid #000;
  color: #000;
  padding: 0.75rem 2rem;
  font-size: 0.9rem;
  font-weight: 300;
  width: 250px;
  cursor: pointer;
  text-align: center;

  @include respond-to('small-tablet') {
    width: 100%;
  }
}

.payBtn {
  border: 1px solid #000;
  background-color: #000;
  color: #fff;
  padding: 0.75rem 2rem;
  font-size: 0.9rem;
  font-weight: 300;
  width: 250px;
  transition: all 0.3s ease;
  text-align: center;
  cursor: pointer;

  @include respond-to('small-tablet') {
    width: 100%;
  }

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.totalSection {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
  justify-content: flex-end;
  transition: opacity 0.3s ease;
  width: 100%;

  @include respond-to('small-tablet') {
    width: 100%;
    justify-content: space-between;
    order: -1;
  }

  &.visible {
    opacity: 1;
  }

  &.hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.totalLabel {
  font-size: 0.9rem;
  font-weight: 300;
  color: #000;
}

.totalPrice {
  font-size: 0.9rem;
  font-weight: 300;
  color: #000;
}
