@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.cartItem {
  display: grid;
  grid-template-columns: 47% 53%;
  gap: 1rem;
  background-color: #fff;

  &.fadeOut {
    animation: fadeOut 0.3s ease forwards;
  }
}

.imageSection {
  width: 280px;
  height: 280px;
}

.phoneImageRedmi {
  width: 75%;
  height: 75%;
  object-fit: contain;
  padding: 0;
  transform: scale(0.8);
}

.phoneImageDefault {
  width: 75%;
  height: 75%;
  object-fit: contain;
  padding: 0;
  transform: scale(1);
}

.contentSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: relative;
}

.itemName {
  font-size: 0.8rem;
  text-transform: uppercase;
  font-weight: 300;
  color: #000;
}

.itemDetails {
  font-size: 0.8rem;
  color: #000;
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
  text-transform: uppercase;
}

.itemPrice {
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  margin: 0;
}

.itemQuantity {
  font-size: 0.8rem;
  font-weight: 300;
  color: #000;
  margin: 0;
}

.header {
  margin-bottom: 1rem;
}

.itemStorage {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #000;
  margin: 0.25rem 0;
  font-weight: 300;
}

.footer {
  margin-bottom: 80px;
  border-top: none;
  padding: 0;
}

.removeBtn {
  font-size: 0.9rem;
  color: #d32f2f;
  cursor: pointer;
  padding: 0;
}
