@import './tokens';
@import './mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: $font-family-base;
  font-size: $font-size-body;
  color: $color-text-primary;
  background-color: $color-bg;
  line-height: $line-height-base;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: $line-height-heading;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

.container {
  padding: $spacing-2xl $spacing-lg;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  @include respond-to('tablet') {
    max-width: 98%;
    padding: $spacing-xl $spacing-md;
  }
  @include respond-to('smaill-tablet') {
    max-width: 98%;
    padding: $spacing-xl $spacing-md;
  }

  @include respond-to('wide') {
    max-width: 90%;
    padding: $spacing-2xl $spacing-lg;
  }
}
