@import '@/styles/tokens';
@import '@/styles/mixins';

.gallery {
  background-color: #fff;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 40px 0;
  height: 100%;
  width: 100%;
}

@include respond-to('mobile') {
  .gallery {
    padding-bottom: 0;
  }
}

@include respond-to('small-tablet') {
  .gallery {
    padding-bottom: 0;
  }
}

.phoneImageDefault {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
}

.phoneImageRedmi {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  transform: scale(0.7);
}

.phoneImageIPhone {
  width: auto;
  height: 100%;
  max-width: 100%;
  object-fit: contain;
  display: block;
  user-select: none;
  -webkit-user-drag: none;
  transform: scale(0.85);
}
