.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 150px);
  animation: fadeIn 0.6s ease-in-out;
  margin-top: 35px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.mainContent {
  flex: 1;
  display: flex;
  flex-direction: column;
}
