@import '@/styles/tokens';
@import '@/styles/mixins';

.container {
  padding: $spacing-2xl $spacing-lg;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;

  @include respond-to('tablet') {
    max-width: 98%;
    padding: $spacing-xl $spacing-md;
  }

  @include respond-to('desktop') {
    max-width: 95%;
    padding: $spacing-2xl $spacing-lg;
  }

  @include respond-to('wide') {
    max-width: 90%;
    padding: $spacing-2xl $spacing-lg;
  }
}
