@import '@/styles/tokens';
@import '@/styles/mixins';

.phoneGridContainer {
  width: 100%;
}

.phoneGrid {
  display: grid;
  gap: 0;
  list-style: none;
  margin-bottom: 24px;
  animation: fadeIn 0.6s ease-in-out;
  border-left: 1px solid #000;

  @include respond-to('wide') {
    grid-template-columns: repeat(5, 1fr);

    li:nth-child(-n + 5) {
      a {
        border-top: 1px solid #000;
      }
    }
  }

  @include respond-to('desktop') {
    grid-template-columns: repeat(4, 1fr);

    li:nth-child(-n + 4) {
      a {
        border-top: 1px solid #000;
      }
    }
  }

  @include respond-to('tablet') {
    grid-template-columns: repeat(2, 1fr);

    li:nth-child(-n + 2) {
      a {
        border-top: 1px solid #000;
      }
    }
  }

  @include respond-to('small-tablet') {
    grid-template-columns: repeat(2, 1fr);

    li:nth-child(-n + 2) {
      a {
        border-top: 1px solid #000;
      }
    }
  }

  @include respond-to('mobile') {
    grid-template-columns: repeat(1, 1fr);

    li:nth-child(1) {
      a {
        border-top: 1px solid #000;
      }
    }
  }
}

.phoneGridInfo {
  color: #999;
  margin-top: 32px;
  text-align: center;
  font-size: 13px;
  animation: fadeIn 0.6s ease-in-out 0.2s both;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation: fadeIn 0.6s ease-in-out forwards;
}

.fadeOut {
  animation: fadeOut 0.6s ease-in-out forwards;
}
